#right {
border: 50px solid transparent;
border-image: url(http://fc07.deviantart.net/fs70/i/2012/222/d/b/ipad_png_by_pinklifeeditions-d5amuyz.png) 8% stretch ;
border-image-outset: 0px;
background-color: #ffffff;
border-radius: 50px;
float: center;
width: 722px;
height: 830px;
margin-left: 150px;
padding-top: 0px;
padding-right: 0px;	
padding-left: 0px;
}

#upper_block {
width: 619px;
height: 362px;
padding: 0px;
margin-top: 1px;
margin-bottom: 1px;
}

#lower_block {
height: 363px;
width: 619px;
margin-top: 0px;
overflow:auto;
cursor:default
}

#index {
width:612px;
height:23px;
padding:0px;
margin-top: 3px;
margin-bottom: 0px;
border: 0px solid white;
}

#index_left {
width:46px;
height: 22px;
margin:0px;
float:left;
border: 1px solid ;
cursor:default
}

#index div a{
	text-decoration:none;
}
#index div:hover{
	background-color:#687d92;
	color: white;
	border: solid 1px black;
}
#index div:hover a{
	color: white;
}

#index4 a,#index4:hover a{
	color:white;
	text-decoration:none;	
}
#index4:hover{
	background-color: #3e4656 !important;
}
#index1 {
width:104px;
height: 22px;
margin:0px;
cursor:default
}

#index2 {
width:104px;
height: 22px;
margin:0px;
cursor:default
}
#index3 {
width:104px;
height: 22px;
margin:0px;
cursor:default
}

#index4 {
width:104px;
height: 22px;
margin:0px;
}

#index5 {
width:104px;
height: 22px;
margin:0px;
cursor:default
}

#index_right {
width: 46px;
height: 22px;
margin: 0px;
float: right;
border: 1px solid ;
cursor:default
}

#block_1 {
height: 80px;
width: 392px;
margin: 0px;
margin-bottom: 1px;
border: 0px solid white;
background-color: #D5D5D5;
cursor: pointer;
font-size: 30px !important;
font-weight: 700;
}

#block_2 {
height: 86px;
width: 392px;
margin: 0px;
margin-bottom: 1px;
border: 0px solid white;	
cursor:pointer;
background: url(../../commonImages/delhi.jpg) top right no-repeat;
background-size: 55% 87%;
background-color: #D5D5D5;
font-size: 20px !important;
font-weight: 700;
background-position-y: 6px;
}

#block_3 {
height: 136px;
width: 195px;
float: left;
margin: 0px;
margin-right: 1px;
border: 0px solid white;
cursor:pointer;
background: url(../../commonImages/iitm.png) bottom no-repeat;
background-size: 55% 75%;
background-color: #D5D5D5;
font-size: 20px !important;
font-weight: 700;
}

#block_4 {
height: 136px;
width: 196px;
float: left;
margin: 0px;
margin-right: 2px;
border: 0px solid white;
font-size: 25px !important;
font-weight: 700;
background: url(../../commonImages/yoga.png) bottom no-repeat;
background-size: 96% 58%;
background-position-y: 49px;
background-color: #D5D5D5;
}

#block_5 {
height: 96px;
width: 220px;
margin: 0px;
margin-bottom: 1px;
border: 0px solid white;
cursor:pointer;
background: url(../../commonImages/is.png) bottom no-repeat;
background-size: 32% 70%;
background-color: #D5D5D5;
font-size: 20px !important;
font-weight: 700;
}

#block_6 {
height: 103px;
width: 220px;
margin: 0px;
margin-bottom: 1px;
border: 0px solid white;
background-color: #D5D5D5;
cursor:pointer;
font-size: 34px !important;
}

#block_7 {
height: 103px;
width: 220px;
margin: 0px;
border: 0px solid white;
cursor:pointer;
font-size: 28px !important;
background: url(../../commonImages/ques.gif) bottom right no-repeat;
background-size: 32% 69%;
background-color: #D5D5D5;
background-position-x: 130px;
}

a{
color: black;
}

a:visited {
color: black;
}
