div {
border: 1px solid black;
float: left;
padding: 2px;
margin: 2px;
width: 100%;
}

#one {
border: 2px solid black;
height:99.63vh;
width: 99.8%;
background-color: #1d2029;
background-repeat: repeat;
padding-left: 50px;
padding-right: 0px;
}

#left {
border: 5px solid transparent;
border-radius: 10px;
float: left;
width: 450px;
height: 830px;z
margin-right: 0px;
padding-top: 50px;
}

#first {
  color: #bdb09f;
  width: 530px;
  padding-bottom: 5px;
  padding-left: 20px;
}

#second {
color: #bdb09f;
width: 550px;
padding: 20px;
padding-right: 0px;
padding-bottom: 50px;
text-align: center;
}

#third div{
	text-align:center;
}
#third {
color: #bdb09f;
width: 550px;
padding: 0px;
}

#three_one {
width: 170px;
margin-right: 4px;
padding: 0px;
}

#three_two {
width: 170px;
margin-right: 4px;
padding: 0px;
margin-top: -8px;
}

#three_three {
width: 180px;
padding: 0px;
}
#mobileImage{
	height: 100px;
	width:50px;
	box-shadow: 0px -114px 93px #9dF;
	  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}