#right {
border: 12px solid transparent;
border-image: url(http://pngimg.com/upload/iphone_PNG5735.png) 	17% stretch ;
border-image-outset: 69px 68px 78px 38px;
border-image-width: 80px 70px 95px 50px;
border-radius: 0px;
background-color: #ffffff;
float: center;
width: 320px;
height: 535px;
margin: 0px;	
margin-left: 250px;
margin-top: 80px;
padding: 0px;
}

#upper_block {
width: 304px;
height: 505px;
padding: 0px;
margin-top: 1px;
margin-bottom: 1px;
}

#lower_block {
height: 363px;
width: 619px;
margin-top: 0px;
overflow:auto;
cursor:pointer
}


#index div a{
	text-decoration:none;
}
#index div:hover{
	background-color:#687d92;
	color: white;
}
#index div:hover a{
	color: white;
}

#index2 a,#index2:hover a{
	color:white;
	text-decoration:none;	
}
#index2:hover{
	background-color: #3e4656 !important;
}
#index {
width:300px;
height:23px;
padding:0px;
margin-top: 3px;
margin-bottom: 0px;
border: 0px solid white;
}

#index1 {
width:50px;
height: 22px;
margin:0px;
border: 0px;
cursor:pointer
}

#index2 {
width:50px;
height: 22px;
margin:0px;
border: 0px;
cursor:pointer;
background-color: #3e4656;
}
#index3 {
width:55px;
height: 22px;
margin:0px;
border: 0px;
cursor:pointer;
margin-right:0px;
}

#index4 {
width:70px;
height: 22px;
margin:0px;
border: 0px;
cursor:pointer;
margin-right:0px;
}
#index5 {
width:61px;
height: 22px;
margin:0px;
border: 0px;
cursor:pointer;
margin-right:0px;
}

#block_1 {
height: 109px;
width: 99px;
margin: 0px;
margin-right: 1px;
border: 0px solid white;
background-color: #D5D5D5;
cursor:pointer;
font-size: 16px !important;
}

#block_2 {
height: 109px;
width: 99px;
margin: 0px;
margin-right: 1px;
border: 0px solid white;
background-color: #D5D5D5;	
cursor:pointer;
font-size: 18px !important;
font-weight: 700;
}

#block_3 {
height: 109px;
width: 98px;
float: left;
margin: 0px;
border: 0px solid white;
background-color: #D5D5D5;
cursor:pointer;
font-size: 14px !important;
font-weight: 900;
font-family: Arial!important;
background: -webkit-linear-gradient(left top, orange, lightgreen);
background: -o-linear-gradient(bottom right, orange, lightgreen);
background: -moz-linear-gradient(bottom right, orange, lightgreen);
background: linear-gradient(to bottom right, orange, lightgreen);
}

#block_4 {
height: 109px;
width: 148px;
float: left;
margin: 0px;
margin-right: 1px;
border: 0px solid white;
background-color: #D5D5D5;
cursor:pointer;
font-size: 18px !important;
font-weight: 900;
}

#block_5 {
height: 109px;
width: 149px;
margin: 0px;
border: 0px solid white;
background-color: #D5D5D5;
cursor:pointer;
font-size: 22px !important;
background: url(../../images/snapdeal.jpg) right bottom no-repeat;
background-size: 66% 60%;
}

#block_6 {
height: 110px;
width: 99px;
margin: 0px;
margin-right: 1px;
border: 0px solid white;
background-color: #D5D5D5;
cursor:pointer;
font-weight: 700;
}

#block_7 {
height: 110px;
width: 198px;
margin: 0px;
border: 0px solid white;
background-color: #D5D5D5;
cursor:pointer;
font-size: 21px !important;
}

#block_8 {
height: 110px;
width: 148px;
margin: 0px;
margin-right: 1px;
border: 0px solid white;
background-color: #D5D5D5;
cursor:pointer;
font-size: 19px !important;
}

#block_9 {
height: 110px;
width: 149px;
margin: 0px;
border: 0px solid white;
background-color: #D5D5D5;
cursor:pointer
}

a{
color: black;
}

a:visited {
color: black;
}
.next_btn{
	background: url(../images/sprite_black2.png) -42px -21px no-repeat;
	width: 21px;
	height: 21px;
	  position: relative;
  right: -26px;
}
.next_btn:hover,.next_btn:active{
	opacity:0.5;
}
.prev_btn{
	background: url(../images/sprite_black2.png) -21px -25px no-repeat;
	width: 21px;
	height:21px;
    position: relative;
  left: -15px;
  vertical-align: -webkit-baseline-middle;
}
.prev_btn:hover,.prev_btn:active{
	opacity:0.5;
}