div {
border: 1px solid black;
float: left;
padding: 2px;
margin: 2px;
width: 100%;
}

#one {
border: 2px solid black;
height:99.63vh;
width: 99.8%;
background-color: #1d2029;
background-repeat: repeat;
padding-left: 50px;
padding-right: 0px;
}

#left {
border: 5px solid transparent;
border-radius: 10px;
float: left;
width: 450px;
height: 830px;
margin-right: 0px;
padding-top: 50px;
}

#first {
  color: #bdb09f;
  width: 530px;
  padding-bottom: 5px;
  padding-left: 20px;
}

#second {
color: #bdb09f;
width: 550px;
padding: 20px;
padding-right: 0px;
padding-bottom: 50px;
text-align: center;
}

#third div{
	text-align:center;
}
#third {
color: #bdb09f;
width: 550px;
padding: 0px;
}
.share-buttons img{
width:32px;
height:32px;
}
#three_one {
width: 170px;
margin-right: 4px;
padding: 0px;
}
#three_one  img{
width: 70px;
height: 70px;
}

#three_two {
width: 170px;
margin-right: 4px;
padding: 0px;
}
#three_two  img{
width: 70px;
height: 70px;
}

#three_three {
width: 180px;
padding: 0px;
}

#three_three  img{
width: 70px;
height: 70px;
}
#ipadImage{
	height: 100px;
	width:80px;
	box-shadow: 0px -114px 93px #9dF;
}

.next_btn{
	background: url(../images/sprite_black2.png) -42px -21px no-repeat;
	width: 21px;
	height: 21px;
	  position: relative;
  right: -26px;
}
.next_btn:hover,.next_btn:active{
	opacity:0.5;
}
.prev_btn{
	background: url(../images/sprite_black2.png) -21px -25px no-repeat;
	width: 21px;
	height:21px;
    position: relative;
  left: -15px;
  vertical-align: -webkit-baseline-middle;
}
.prev_btn:hover,.prev_btn:active{
	opacity:0.5;
}